*{
    font-family: "Inter", sans-serif;   
}
body{
    background:#F1F0F1;
}
header{
    background-image: linear-gradient(142.56deg, #322C7A 21.68%, #30ABBD 80.35%);
    background-size: 200% 200%; /* Increase the background size to cover the entire container */
    animation: gradientAnimation 5s infinite linear; 
    height:50px;
    white-space: nowrap;
    
   
}
/* #header{
    animation: 15s slide infinite linear;
} */
#logo{
    filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
    
}
header #Welcome{
    color:whitesmoke;
    font-size:18px;
}


#number{
    color:#F1F0F1;
    font-size:100%;
}
#secondnavbar{
    background:whitesmoke;
    border-bottom:2px solid grey;
    height:150px;
}
#secondnavbar img{
    margin-left:20px;
}
#logo{
    height:150px;
    width: 150px;
    animation: 15s ani infinite linear;
}
#card-item{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#threenavbar{
    height: 45px;
    background-image: linear-gradient(142.56deg, #322C7A 21.68%, #30ABBD 80.35%);
    animation: gradientAnimation 5s infinite linear; 
    background-size: 200% 200%;
}
#product{
    padding-left:50px;
    font-weight:700;
   
    color:white;
}
.content1{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
}

.content2{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    position: relative;
}
.content3{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
    position: relative;
}
#card-item:hover{
    border:1px solid  #041d56;
}
#social-media{
    display:flex;
    justify-content: space-between;
    background-color: #333333   ;
}
#text{
    color:grey;
    text-decoration: none;
}
#Payment{
    margin:5px;
}
#shipping{
    margin:5px;
}
.marks{
    background-color: rgb(208, 95, 95);
    width:100px;
    position: absolute;
    left:186.8px;
    padding-left:3px;
    text-align: center;
    border-radius: 0px 5px 0px 0px;
    color:white;
}
.markstock{
    background-color: rgb(112, 166, 31);
    width:100px;
    position: absolute;
    left:186.8px;
    padding-left:5px;
    border-radius: 0px 5px 0px 0px;
    color:white;
    text-align: center;
}
.markSoon{
    background-color: rgb(186, 186, 95);
    width:120px;
    position: absolute;
    left:166.4px;
    padding-left:5px;
    border-radius: 0px 5px 0px 0px;
    color:white;
    text-align: center;
}
.markpreorder{
    background-color:cornflowerblue;
    width:120px;
    position: absolute;
    left:166.4px;
    padding-left:5px;
    border-radius: 0px 5px 0px 0px;
    color:white;
    text-align: center;
}
.logos{
    height:150px;
    background:white;
    overflow: hidden;
    display:flex;
    position: relative;
}
.logos .logos-slide{
    display:flex;
    margin-top:20px;
    white-space: nowrap;
    animation: 10s slide infinite linear;
  
}
.logos:before,
.logos:after{
    position: absolute;
    top:0;
    width:200px;
    height: 100%;
    content:"";
    z-index:2;
}
.logos:before{
   
    left:0;
    background:linear-gradient(to left ,transparent,white);
}
.logos:after{
    right:0;
    background:linear-gradient(to right ,transparent,white);
}
.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos .logos-slide img{
    margin-left:40px ;
}
@keyframes slide{
    from{
        transform:translateX(0%);
    }
    to{
        transform:translateX(-100%);
    }
}
@keyframes ani{
    from {
        transform: translateY(0%);
    }
    30% {
        transform: translateX(10%);
    }
    to {
        transform: translateX(5%);
    }

}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
